<%- include('./header.ejs');%>

	<div class="content container-fluid">
		<ul class="nav nav-pills mb-4" id="acount-voucher-tab" role="tablist">
			<li class="nav-item" role="presentation">
				<button class="btn btn-sm btn-outline-danger active" id="batch-assign-tab" data-bs-toggle="tab"
					data-bs-target="#batch-assign-content" type="button" role="tab" aria-controls="batch-assign-content"
					aria-selected="false">About page</button>
			</li>
			<li class="nav-item" role="presentation">
				<button class="btn btn-sm btn-outline-danger " id="sowing-tab" data-bs-toggle="tab"
					data-bs-target="#sowing" type="button" role="tab" aria-controls="sowing"
					aria-selected="true">Success stories</button>
			</li>
			<li class="nav-item" role="presentation">
				<button class="btn btn-sm btn-outline-danger" id="bef-germination-tab" data-bs-toggle="tab"
					data-bs-target="#bef-germination" type="button" role="tab" aria-controls="bef-germination"
					aria-selected="false">Success videos</button>
			</li>
			


		</ul>
		<!-- Page Header -->

		<div class="tab-content">
			<div class="tab-pane active" id="batch-assign-content" role="tabpanel" aria-labelledby="batch-assign-tab">

				<div class="page-header">
					<div class="row align-items-center">
						<div class="col">
							<h1 class="page-header-title">
								About content management</h1>
						</div>
						<!-- End Col -->
						
								<!-- End Col -->
					</div>
					<!-- End Row -->
				</div>
				<!-- End Page Header -->

			

				
			</div>
			<div class="tab-pane" id="sowing" role="tabpanel" aria-labelledby="sowing-tab">
				<!-- Page Header -->
				<div class="page-header">
					<div class="row align-items-center">
						<div class="col">
							<h1 class="page-header-title">
								Success stories</h1>
						</div>
						<!-- End Col -->
					
								<!-- End Col -->
					</div>
					<!-- End Row -->
				</div>
				<!-- End Page Header -->

				<div class="sowing-table-filters">
					<div class="row g-3 ">
						<div class="col-12 col-md-3">
							<div class="input-group input-group-sm">
								<div class="input-group-text">
									<i class="bi-search"></i>
								</div>
								<input type="search" class="form-control add-sowing-table-search"
									placeholder="Search here">
							</div>
						</div>

					</div>
				</div>
				<div class="table-responsive">
					<table id="sowing-table" class="table table-bordered  table-nowrap table-align-middle">
						<thead class="thead-light " align="left">
							<tr>
								<th>Action</th>
								<th>YoutubeThumbnail</th>
								<th>YoutubeLink</th>

							</tr>
						</thead>
					     <tbody>

						 </tbody>
					</table>
				</div>
				<div class="sowing-table-footer"></div>
			</div>
			<div class="tab-pane" id="bef-germination" role="tabpanel" aria-labelledby="bef-germination-tab">
				<!-- Page Header -->
				<div class="page-header">
					<div class="row align-items-center">
						<div class="col">
							<h1 class="page-header-title">
								Success videos</h1>
						</div>
					
								<!-- End Col -->

								<!-- End Col -->
					</div>
					<!-- End Row -->
				</div>
				<!-- End Page Header -->

				<div class="purchase-table-filters">
					<div class="row g-3">
						<div class="col-12 col-md-3">
							<div class="input-group input-group-sm">
								<div class="input-group-text">
									<i class="bi-search"></i>
								</div>
								<input type="search" class="form-control purchase-table-search"
									placeholder="Search here">
							</div>
						</div>


					</div>
				</div>
				<div class="table-responsive">
					<table id="bef-germination-table"
						class="w-100 table table-bordered table-nowrap table-align-middle">
						<thead class="thead-light" align="left">
							<tr>
								<th>Action</th>
								<th>About company</th>
								<th>About Founder</th>
								<th>Founder image</th>
							</tr>
						</thead>
					     <tbody>

						 </tbody>
					</table>
				</div>
				<div class="bef-germination-table-footer"></div>
			</div>
		

		</div>

	</div>
	<!-- End Content -->
	<%- include('./footer.ejs');%>
		<script>
			let customerListTable = false;
			customerListTable = $('#menu-table').DataTable({
				lengthChange: true,
				columnDefs: [{
					columnDefs: [{ width: 200, targets: 0 }],
					fixedColumns: true,
					paging: false,
					scrollCollapse: true,
					scrollX: true,
				}],
				order: [
					[1, 'desc'],
					[0, 'desc']
				],
				initComplete: function (settings, json) {
					$('.dataTables_filter').hide();
					$('.menu-table-footer').append($('#menu-table_wrapper .row:last-child()')).find('.previous').addClass('ms-md-auto');
					$('.dataTables_info').before($('.dataTables_length').find('label').attr('class', 'd-inline-flex text-nowrap align-items-center gap-2'));
					$('.menu-table-search').on('input', function () {
						customerListTable.search(this.value).draw();
					});
					this.api().table().buttons().container().find('.btn-secondary').removeClass('btn-secondary');
					this.api().table().buttons().container().appendTo($('.menu-table-filters .export-buttons'));
				},
				buttons: [{
					extend: 'collection',
					text: '<i class="bi bi-cloud-download-fill"></i>',
					className: 'btn-sm btn-outline-primary',
					buttons: [{
						extend: 'copy',
						text: '<i class="bi-clipboard2-check dropdown-item-icon"></i> Copy'
					},
					{
						extend: 'excel',
						text: '<i class="bi-filetype-xlsx dropdown-item-icon"></i> Excel'
					},
					{
						extend: 'csv',
						text: '<i class="bi-filetype-csv dropdown-item-icon"></i> CSV'
					},
					{
						extend: 'pdf',
						text: '<i class="bi-filetype-pdf dropdown-item-icon"></i> PDF'
					},
					{
						extend: 'print',
						text: '<i class="bi-printer dropdown-item-icon"></i> Print'
					}
					]
				}],
			});
		</script>

		<script>
			let befGerminationListTable = false;
			befGerminationListTable = $('#bef-germination-table').DataTable({
				lengthChange: true,
				columnDefs: [{
					// targets: [0,],
					// orderable: false,
				}],
				order: [
					[1, 'desc'],
					[0, 'desc']
				],
				initComplete: function (settings, json) {
					$('.dataTables_filter').hide();
					$('.bef-germination-table-footer').append($('#bef-germination-table_wrapper .row:last-child()')).find('.previous').addClass('ms-md-auto');
					$('.dataTables_info').before($('.dataTables_length').find('label').attr('class', 'd-inline-flex text-nowrap align-items-center gap-2'));
					$('.purchase-table-search').on('input', function () {
						befGerminationListTable.search(this.value).draw();
					});
					this.api().table().buttons().container().find('.btn-secondary').removeClass('btn-secondary');
					this.api().table().buttons().container().appendTo($('.purchase-table-filters .export-buttons'));
				},
				buttons: [{
					extend: 'collection',
					text: '<i class="bi bi-cloud-download-fill"></i>',
					className: 'btn-sm btn-outline-primary',
					buttons: [{
						extend: 'copy',
						text: '<i class="bi-clipboard2-check dropdown-item-icon"></i> Copy'
					},
					{
						extend: 'excel',
						text: '<i class="bi-filetype-xlsx dropdown-item-icon"></i> Excel'
					},
					{
						extend: 'csv',
						text: '<i class="bi-filetype-csv dropdown-item-icon"></i> CSV'
					},
					{
						extend: 'pdf',
						text: '<i class="bi-filetype-pdf dropdown-item-icon"></i> PDF'
					},
					{
						extend: 'print',
						text: '<i class="bi-printer dropdown-item-icon"></i> Print'
					}
					]
				}],
			});
		</script>
		<script>
			let supplierListTable = false;
			supplierListTable = $('#after-germination-table').DataTable({
				//data: {},
				lengthChange: true,
				columnDefs: [{
					// targets: [0,],
					// orderable: false,
				}],
				order: [
					[1, 'desc'],
					[0, 'desc']
				],
				initComplete: function (settings, json) {
					$('.dataTables_filter').hide();
					$('.after-germination-table-footer').append($('#after-germination-table_wrapper .row:last-child()')).find('.previous').addClass('ms-md-auto');
					$('.after-germination-table-footer .dataTables_info').before($('.dataTables_length').find('label').attr('class', 'd-inline-flex text-nowrap align-items-center gap-2'));
					$('.after-germination-table-search').on('input', function () {
						bookingListTable.search(this.value).draw();
					});
					this.api().table().buttons().container().find('.btn-secondary').removeClass('btn-secondary');
					this.api().table().buttons().container().appendTo($('.after-germination-table-filters .export-buttons'));
				},
				buttons: [{
					extend: 'collection',
					text: '<i class="bi bi-cloud-download-fill"></i>',
					className: 'btn-sm btn-outline-primary',
					buttons: [{
						extend: 'copy',
						text: '<i class="bi-clipboard2-check dropdown-item-icon"></i> Copy'
					},
					{
						extend: 'excel',
						text: '<i class="bi-filetype-xlsx dropdown-item-icon"></i> Excel'
					},
					{
						extend: 'csv',
						text: '<i class="bi-filetype-csv dropdown-item-icon"></i> CSV'
					},
					{
						extend: 'pdf',
						text: '<i class="bi-filetype-pdf dropdown-item-icon"></i> PDF'
					},
					{
						extend: 'print',
						text: '<i class="bi-printer dropdown-item-icon"></i> Print'
					}
					]
				}]
			});
		</script>