<%- include('./header.ejs');%>
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h1 class="page-header-title">
                       dashboard
                    </h1>
                </div>
            </div>
        </div>
        <div class="row g-3">
            <div class="col-12 col-sm-6 col-md-6">
              <div class="card border-left-primary dashcard shadow h-100 py-2">
                  <div class="card-body">
                    <div class="row align-items-center frow">
                      <div class="col">
                        <div class="text-dark mb-3 fs-3">Total menu
                        </div>
                       
                      </div>
                      <div class="col-auto">
                        <i class="fas fa-utensils fa-2x text-blind"></i>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6">
                <div class="card border-left-primary dashcard shadow h-100 py-2">
                    <div class="card-body">
                      <div class="row align-items-center frow">
                        <div class="col">
                          <div class="text-dark mb-3 fs-3">Veg menu
                          </div>
                         
                        </div>
                        <div class="col-auto">
                          <i class="fas fa-seedling fa-2x text-blind"></i>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6">
                <div class="card border-left-primary dashcard shadow h-100 py-2">
                    <div class="card-body">
                      <div class="row align-items-center frow">
                        <div class="col">
                          <div class="text-dark mb-3 fs-3">Non-veg menu
                          </div>
                        
                        </div>
                        <div class="col-auto">
                          <i class="fas fa-drumstick-bite fa-2x text-blind"></i>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6">
                <div class="card border-left-primary dashcard shadow h-100 py-2">
                    <div class="card-body">
                      <div class="row align-items-center frow">
                        <div class="col">
                          <div class="text-dark mb-3 fs-3">Total Enquiries
                          </div>
                         
                        </div>
                        <div class="col-auto">
                          <i class="fas fa-phone fa-2x text-blind"></i>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
          
        </div>
    </div>

    <%- include('./footer.ejs');%>