<!DOCTYPE html>
<html>

<head>
    <title>burud samaj vadhu-var suchak samiti</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="css/profile_de.css">
</head>

<body>
    <section class="container bg-light main_section">
        <div class="p-3 text-center ">
            <h1 style="font-family: Georgia, 'Times New Roman', Times, serif;">profile Details</h1>
        </div>
        <div>
            <div class="row m-0  ">
                <div class="col-md-6">
                    <div class="row m-0 ">
                        <div class="col-md-6 text-center d-flex justify-content-center ">
                            <div class=" main_img">
                                <img src="https://i.pinimg.com/550x/37/83/3c/37833cb606e529cbed1088c7824cb4e5.jpg"
                                    class="rounded-circle" alt="Cinque Terre" width="220" height="216">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mt-5 text-center">
                                <h1>Sarita Bhole</h1>
                                <p class="db">DOB:30/08/2002</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class="text-center mt-5">
                        <h1>City:Nashik</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br> <br>

    <section class="container main_section">
        <div class="row m-0 p-2">
            <div class="col-md-4 mb-5">
                <div class="bg-white p-3">
                    <div id="demo" class="carousel slide" data-ride="carousel">

                        <!-- Indicators -->
                        <ul class="carousel-indicators">
                            <li data-target="#demo" data-slide-to="0" class="active"></li>
                            <li data-target="#demo" data-slide-to="1"></li>
                            <li data-target="#demo" data-slide-to="2"></li>
                        </ul>

                        <!-- The slideshow -->
                        <div class="carousel-inner mt-3 mb-5">
                            <div class="carousel-item active">
                                <img src="https://i.pinimg.com/736x/81/27/f3/8127f39490ad7dcfb567fa213d65a843.jpg" class="img-fluid object-fit-cover"
                                    alt="Los Angeles" width="1100" height="500">
                            </div>
                            <div class="carousel-item">
                                <img class="img-fluid object-fit-cover"
                                    src="https://ik.imagekit.io/yfnz71p9w/wp-content/uploads/2022/05/groom-pose.png"
                                    alt="Chicago" width="1100" height="500">
                            </div>
                            <div class="carousel-item">
                                <img class="img-fluid object-fit-cover"
                                    src="https://ik.imagekit.io/yfnz71p9w/wp-content/uploads/2022/05/groom-pose-with-accessories.png"
                                    alt="New York" width="1100" height="500">
                            </div>
                            <div class="position-relative text-center" style="top:200px;">
                                <button class="btn btn-danger">Burud-bandhan.com</button>
                            </div>

                        </div>

                        <!-- Left and right controls -->
                        <a class="carousel-control-prev" href="#demo" data-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a class="carousel-control-next" href="#demo" data-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </a>
                    </div>
                    <p class="text-center">

                        <a href="javascript:void(0)" onclick="addProfile()" class="btn btn-outline-danger">Send Interest
                            to view contact
                            info</a>
                    </p>
                </div>
            </div>

            <div class="col-md-8">
                <div class="bg-white p-1">
                    <h3 class="text-center">Personal detail(वैयक्तिक माहिती):</h3>
                    <table class="table  table-striped table-striped table-hover p-2">
                        <tbody>
                            <tr>
                                <td>
                                    DATE OF BIRTH (जन्म तारीख) :</td>
                                <td> 30/8/1997</td>
                            </tr>
                            <tr>
                                <td>INCOME (मिळकतीची माहिती) :</td>
                                <td>Rs. - / 0</td>
                            </tr>
                            <tr>
                                <td>EDUCATION (शिक्षण) :</td>
                                <td>Graduate/B.E/B.tech</td>
                            </tr>
                            <tr>
                                <td>EDUCATION DETAILS (शैक्षणिक तपशील) :</td>
                                <td>M.COM&MBA-FINANCE</td>
                            </tr>
                            <tr>
                                <td>BLOOD GROUP/WEIGHT (रक्तगट / वजन ) :</td>
                                <td>B+ / 0 kg</td>
                            </tr>
                            <tr>
                                <td>SPECTACLE/LENS (चष्मा / लेन्स ) </td>
                                <td>NO/NO</td>
                            </tr>
                            <tr>
                                <td>GOTRA & DEVAK (गोत्र / देवक) :</td>
                                <td>-/ pachpalvi</td>
                            </tr>
                            <tr>
                                <td>BIRTH PLACE/Time (जन्म वेळ / ठिकाण ):</td>
                                <td>satara(karad) 3:40:PM</td>
                            </tr>
                            <tr>
                                <td>OCCUPATION CITY (व्यवसायाचे शहर):</td>
                                <td>Mumbai</td>
                            </tr>
                            <tr>
                                <td>MARITAL STATUS (वैवाहिक स्थिती):</td>
                                <td>unmarried_girl</td>
                            </tr>
                            <tr>
                                <td>HEIGHT (उंची):</td>
                                <td>5'4"</td>
                            </tr>
                            <tr>
                                <td>OCCUPATION (व्यवसाय):</td>
                                <td>Punch Fabricators Engineers & Contractors (Account Executive), Sakinaka, Andheri
                                    East</td>
                            </tr>
                            <tr>
                                <td>COMPLEXION (वर्ण):</td>
                                <td>Fair</td>
                            </tr>
                            <tr>
                                <td>MANGAL (मंगळ):</td>
                                <td>NO</td>
                            </tr>
                            <tr>
                                <td>HORO DETAILS (कुंडलीची माहिती):</td>
                                <td>Cancer (Karka)/4 / Madhya / Dev</td>
                            </tr>
                            <tr>
                                <td>RESIDENT CITY (राहण्याचे शहर):</td>
                                <td>Thane</td>
                            </tr>
                        </tbody>
                    </table>
                </div> <br>

                <div class="bg-white p-1">
                    <h3 class="text-center">Family Background (कुटुंबाचा तपशील)</h3>
                    <table class="table  table-striped table-striped table-hover p-2">
                        <tbody>
                            <tr>
                                <td>
                                    FATHER (वडील):</td>
                                <td>YES</td>
                            </tr>
                            <tr>
                                <td>MAMA (मामाचे आडनाव):</td>
                                <td>Rs. - / 0</td>
                            </tr>
                            <tr>
                                <td>NATIVE PLACE (गाव):</td>
                                <td>khatav Satara</td>
                            </tr>
                            <tr>
                                <td>FAMILY WEALTH (कौटुंबिक मालमत्ता):</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>MOTHER (आई):</td>
                                <td>YES</td>
                            </tr>
                            <tr>
                                <td>RELATIVES (नातेवाईक):</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>PARENTS RESIDING IN (पालक राहत असलेले शहर):</td>
                                <td>Mumbai</td>
                            </tr>
                            <tr>
                                <td>SISTER (बहीण):</td>
                                <td>1</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <br>
                <div class="bg-white p-1">
                    <h3 class="text-center">Expectation (अपेक्षा)</h3>
                    <table class="table  table-striped table-striped table-hover p-2">
                        <tbody>
                            <tr>
                                <td>

                                    AGE DIFFERENCE UPTO (वयातील अधिकतम अंतर)::</td>
                                <td>3 Years</td>
                            </tr>
                            <tr>
                                <td>PREFERRED CITY (अपेक्षित शहर):</td>
                                <td> Mumbai,Satara,Thane,Palghr,</td>
                            </tr>
                            <tr>
                                <td>EXPECTED HEIGHT (अपेक्षित उंची):</td>
                                <td>5-5</td>
                            </tr>
                            <tr>
                                <td>EDUCATION (शैक्षणिक अपेक्षा):</td>
                                <td>B.E/MBA</td>
                            </tr>
                            <tr>
                                <td>OCCUPATION (व्यावसायिक व पगाराची अपेक्षा):</td>
                                <td>nirvhayasni,swattache ghar,nokari</td>
                            </tr>
                            <tr>
                                <td>RELATIVES (नातेवाईक):</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>PARENTS RESIDING IN (पालक राहत असलेले शहर):</td>
                                <td>Mumbai</td>
                            </tr>
                            <tr>
                                <td>SISTER (बहीण):</td>
                                <td>1</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <br>
                <div class="text-center">
                    <button class="btn btn-outline-danger">
                        <a href="/createprofile" style="text-decoration: none; color: black;">Send Interest to view
                            contact info</a></button>
                </div>
            </div>
        </div>
    </section>

    <div class="modal fade" id="basicInfoAddModal">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="text-dark">Add Personal Information</h6>
                    <button type="button" class="close" data-bs-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="" class="row" id="basicInfo-form">
                        <div class="col-md-4">
                            <label for="full-name">Full Name</label>
                            <input class="form-control" type="text" id="fullname" name="fullname" required><br>
                        </div>
                        <div class="col-md-4">
                            <label for="city">City</label>
                            <select class="form-control" id="city" name="city" required>
                                <option value="">Select</option>
                                <option value="Nashik">Nashik</option>
                                <option value="Pune">Pune</option>
                                <option value="Jalgaon">Jalgaon</option>
                                <option value="Kolhapur">Kolhapur</option>
                                <option value="Sambhajinanagr">Sambhajinanagr</option>
                                <option value="Chalisgaon">Chalisgaon</option>

                            </select>
                        </div>
                        <div class="col-md-4">
                            <label for="dob">Date of Birth</label>
                            <input type="date" class="form-control" id="dob" name="dateofbirth" required>
                        </div>

                        <div class="col-md-4">
                            <label for="income">Income</label>
                            <input type="number" class="form-control" id="income" name="income" required>
                        </div>

                        <div class="col-md-4">
                            <label for="education">Education</label>
                            <select class="form-control" id="education" name="education" required>
                                <option value="">Select</option>
                                <option value="Diploma">Diploma</option>
                                <option value="Master Degree">Master Degree</option>
                                <option value="Graduation">Graduation</option>
                                <option value="12Th">12Th</option>
                                <option value="10Th">10Th</option>
                                <option value="Chalisgaon">Engineering</option>

                            </select>
                        </div>

                        <div class="col-md-4">
                            <label for="blood-group">Blood Group</label>
                            <select class="form-control" id="bloodgroup" name="bloodgroup" required>
                                <option value="">Select</option>
                                <option value="A positive (A+)">A positive (A+)</option>
                                <option value="A negative (A-)">A negative (A-)</option>
                                <option value="B positive (B+)">B positive (B+)</option>
                                <option value="B negative (B-)">B negative (B-)</option>
                                <option value="AB positive (AB+)">AB positive (AB+)</option>
                                <option value="AB negative (AB-)">AB negative (AB-)</option>
                                <option value="O positive (O+)">O positive (O+)</option>
                                <option value="O positive (O+)">O negative (O-)</option>

                            </select>
                        </div>

                        <div class="col-md-4">
                            <label for="spectacles">Spectacles(Yes/No) </label>
                            <select class="form-control" id="spectacles" name="spectacles" required>
                                <option value="">Select</option>
                                <option value="yes">Yes</option>
                                <option value="no">No</option>
                            </select>
                        </div>

                        <div class="col-md-4">
                            <label for="gotra-devak">Gotra & Devak</label>
                            <input class="form-control" type="text" id="gotradevak" name="gotra" required>
                        </div>

                        <div class="col-md-4">
                            <label for="birth-place">Birth Place</label>
                            <input class="form-control" type="text" id="birthplace" name="birthplace" required>
                        </div>

                        <div class="col-md-4">
                            <label for="occupation">Occupation</label>
                            <input class="form-control" type="text" id="occupation" name="occupation" required>
                        </div>

                        <div class="col-md-4">
                            <label for="marital-status">Marital Status</label>
                            <select class="form-control" id="maritalstatus" name="maritalstatus" required>
                                <option value="">Select</option>
                                <option value="single">Single</option>
                                <option value="divorced">Divorced</option>
                            </select>
                        </div>

                        <div class="col-md-4">
                            <label for="height">Height</label>
                            <input class="form-control" type="number" id="height" name="height" required>
                        </div>

                        <div class="col-md-4">
                            <label for="occupation-city">Occupation (City)</label>
                            <input class="form-control" type="text" id="occupationcity" name="occupationcity" required>
                        </div>

                        <div class="col-md-4">
                            <label for="complexion">Complexion</label>
                            <input class="form-control" type="text" id="complexion" name="complexion" required>
                        </div>

                        <div class="col-md-4">
                            <label for="mangal">Mangal</label>
                            <input class="form-control" type="text" id="mangal" name="mangal" required>
                        </div>

                        <div class="col-md-4">
                            <label for="horo-image">Horo Image (file type)</label>
                            <input class="form-control" type="file" id="horoimage" name="horoimage" accept="image/*"
                                required>
                        </div>

                        <div class="col-md-4">
                            <label for="resident-city">Resident City</label>
                            <select class="form-control" id="residentcity" name="resident-city" required>
                                <option value="">Select</option>
                                <option value="Nashik">Nashik</option>
                                <option value="Pune">Pune</option>
                                <option value="Jalgaon">Jalgaon</option>
                                <option value="Kolhapur">Kolhapur</option>
                                <option value="Sambhajinanagr">Sambhajinanagr</option>
                                <option value="Chalisgaon">Chalisgaon</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-bs-dismiss="modal">close</button>
                    <button class="btn btn-dark" type="submit"
                        onclick="captureBasicDetails(); addFamilyBackground();">next</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="familyinfoAddModal">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="text-dark">Add Family Information & Expectations</h6>
                    <button type="button" class="close" data-bs-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="" class="row" id="familyInfo-form">
                        <div class="col-md-12">
                            <div class="row mb-4">
                                <input type="hidden" name="fullname" id="fullnameinput" value="">
                                <input type="hidden" name="city" id="cityinput" value="">
                                <input type="hidden" name="dob" id="dobinput" value="">
                                <input type="hidden" name="income" id="incomeinput" value="">
                                <input type="hidden" name="education" id="educationinput" value="">
                                <input type="hidden" name="bloodgroup" id="bloodgroupinput" value="">
                                <input type="hidden" name="spectacles" id="spectaclesinput" value="">
                                <input type="hidden" name="gotra" id="gotrainput" value="">
                                <input type="hidden" name="birthplace" id="birthplaceinput" value="">
                                <input type="hidden" name="occupation" id="occupationinput" value="">
                                <input type="hidden" name="complexion" id="complexioninput" value="">
                                <input type="hidden" name="maritalstatus" id="maritalstatusinput" value="">
                                <input type="hidden" name="height" id="heightinput" value="">
                                <input type="hidden" name="occupationcity" id="occupationcityinput" value="">
                                <input type="hidden" name="mangal" id="mangalinput" value="">
                                <input type="hidden" name="horoimage" id="horoimageinput" value="">
                                <input type="hidden" name="residentcity" id="residentcityinput" value="">

                                <div class="col-md-4">
                                    <label for="father-name">Father's Name</label>
                                    <input class="form-control" type="text" id="fathername" name="fathername" required>
                                </div>

                                <div class="col-md-4">
                                    <label for="mother-name">Mother's Name</label>
                                    <input class="form-control" type="text" id="mothername" name="mothername" required>
                                </div>

                                <div class="col-md-4">
                                    <label for="maternal-uncle">Maternal Uncle</label>
                                    <input class="form-control" type="text" id="maternaluncle" name="maternaluncle"
                                        required>
                                </div>

                                <div class="col-md-4">
                                    <label for="native-place">Native Place</label>
                                    <input class="form-control" type="text" id="nativeplace" name="nativeplace"
                                        required>
                                </div>

                                <div class="col-md-4">
                                    <label for="family-wealth">Family Wealth</label>
                                    <select class="form-control" id="citywealth" name="citywealth" required>
                                        <option value="">Select</option>
                                        <option value="Nashik">Nashik</option>
                                        <option value="Pune">Pune</option>
                                        <option value="Jalgaon">Jalgaon</option>
                                        <option value="Kolhapur">Kolhapur</option>
                                        <option value="Sambhajinanagr">Sambhajinanagr</option>
                                        <option value="Chalisgaon">Chalisgaon</option>

                                    </select>
                                </div>

                                <div class="col-md-4">
                                    <label for="parents-residing-in">Parents Residing In (City)</label>
                                    <select class="form-control" id="parentcity" name="parentcity" required>
                                        <option value="">Select</option>
                                        <option value="Nashik">Nashik</option>
                                        <option value="Pune">Pune</option>
                                        <option value="Jalgaon">Jalgaon</option>
                                        <option value="Kolhapur">Kolhapur</option>
                                        <option value="Sambhajinanagr">Sambhajinanagr</option>
                                        <option value="Chalisgaon">Chalisgaon</option>

                                    </select>
                                </div>

                                <div class="col-md-4">
                                    <label for="sister">Sister(Yes/No) </label>
                                    <select class="form-control" id="sister" name="sister" required>
                                        <option value="">Select</option>
                                        <option value="yes">Yes</option>
                                        <option value="no">No</option>
                                    </select>
                                </div>
                            </div>
                          
                            <div class="row border-top">
                                <h6 class="text-dark p-3">Expectations</h6>
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label for="age-difference">Age Difference Upto:(In Year) </label>
                                            <input class="form-control" type="text" id="age-difference" name="ageDifference" required>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="preferred-city">Preferred City:</label>
                                            <select class="form-control" id="preferred-city" name="city" required>
                                                <option value="">Select</option>
                                                <option value="Nashik">Nashik</option>
                                                <option value="Pune">Pune</option>
                                                <option value="Jalgaon">Jalgaon</option>
                                                <option value="Kolhapur">Kolhapur</option>
                                                <option value="Sambhajinanagr">Sambhajinanagr</option>
                                                <option value="Chalisgaon">Chalisgaon</option>
            
                                            </select>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="expected-height">Expected Height:</label>
                                            <input class="form-control" type="number" id="expected-height" name="expectedHeight" required>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="education-dropdown">Education:</label>
                                            <select class="form-control" id="education" name="education" required>
                                                <option value="">Select</option>
                                                <option value="Diploma">Diploma</option>
                                                <option value="Master Degree">Master Degree</option>
                                                <option value="Graduation">Graduation</option>
                                                <option value="12Th">12Th</option>
                                                <option value="10Th">10Th</option>
                                                <option value="Chalisgaon">Engineering</option>
            
                                            </select>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="occupations">Occupations:</label>
                                            <input class="form-control" type="text" id="occupations" name="occupation" required>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="parent-residing-in">Parent Residing In: (City)</label>
                                            <input class="form-control" type="text" id="parent-residing-in" name="parentResidingIn" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-bs-dismiss="modal">close</button>
                    <button class="btn btn-danger" type="submit" form="familyInfo-form">submit</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="js/registration.js"></script>
</body>

</html>